.Navbar {
  border: 2px solid gold;
  display: flex;
  flex-direction: row-reverse;
}

.navitems {
  display: flex;
  border: 2px solid black;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.navitem {
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
}

@media (min-width: 1250px) {
  .navitems {
    width: 20%;
  }
}
